*{
    color:rgb(84, 8, 107);
    font-family: 'PT Sans';
    font-size: x-large;
    font-style: oblique;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    text-align: left;
    

}

table tr:nth-child(1){
    background-color: rgb(158, 141, 133);
    background: rgb(189, 150, 150);

}
td{
    border: 1px solid #848484;
    color:rgb(19, 19, 20)
}

label{
    display: inline-block;
    color: rgb(18, 18, 19);
    background-color:rgb(167, 164, 161);
    width: 100px;

    
}
div{
    text-align: center;
    margin: auto;
    background-color: rgb(235, 225, 225) ;
}
.container{
    background-color: rgb(167, 164, 161);
    width: fit-content;
    margin: auto;
    border: 2px solid black;
    padding: 10px 10px 10px;
    border-radius: 20px;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: black;
    text-align: justify;

}